@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
/*body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  margin: 0;
}*/
